/*Ð¡ÌùÊ¿µ¯³ö²ã*/
@CHARSET "UTF-8";
.mini_xiaotieshi{ position:fixed; right:0px; top:40%; z-index:90;}
.mini_xiaotieshi a{ display:block; width:72px; height:111px; background:url(../images/index-xiaotieshi.png) 10px 0 no-repeat;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src="../images/index-xiaotieshi.png", enabled=true, sizingMethod=scale);}
.mini_xiaotieshi a:hover{ background-position:0px 0px;opacity:0.8;-moz-opacity:0.8;}

.xiaotieshi{ width:900px; height:100%; position:fixed; top:0px; right:0px; z-index:99; background-color:#ececec;-moz-box-shadow:2px 2px 10px #222;-webkit-box-shadow:2px 2px 10px #222;box-shadow:2px 2px 10px #222;}
.xiaotieshi_title{ background-color:#145d46; height:72px;}
.xiaotieshi_title_wenzi{ float:left; display:inline; margin-right:10px;}
a.mt_close{ float:left; display:inline; width:90px; height:72px; background-color:#0a4633; margin-right:20px;}
a.mt_close:hover{ background-color:#043727;}
a.mt_close i{ display:inline-block; width:50px; height:50px; background:url(../images/sprite.png) -307px -127px no-repeat; padding-top:5px; padding-left:20px;}
.xiaotieshi_title p{ color:#fff; font-size:24px; height:70px; line-height:70px;}
.xiaotieshi_content{ margin:0px 90px 0px 90px;}
.xiaotieshi_content p{ margin-top:30px; padding-bottom:10px; font-size:14px; color:#555; line-height:24px;}
